numpy~=2.2.6
pandas~=2.3.3
tensorflow~=2.20.0
scikit-learn~=1.7.2
matplotlib~=3.10.7
statsmodels~=0.14.5
prophet~=1.1.7
python-dotenv~=1.1.1
langchain-core~=1.0.0
langchain-google-genai~=3.0.0
pytz~=2025.2
feedparser~=6.0.12
PyYAML~=6.0.3
spacy~=3.8.7
nltk~=3.9.2
Flask~=3.1.2
APScheduler~=3.11.0
requests~=2.32.5
yfinance~=0.2.66
metatrader5~=5.0.5388
Werkzeug~=3.1.3